<!doctype html>
<html lang="en">
<head th:replace="/fragments/head"></head>
<body>

<nav th:replace="/fragments/nav :: nav-admin"></nav>

<div class="container">
    <h1 class="display-2">Orderline</h1>


    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

    <div>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

            <tr th:each="orderd: ${orderdetail}">
                <td th:text="${orderd.productId}"></td>
                <td th:text="${orderd.quantity}"></td>
                <td th:text="'$' + ${orderd.price}"></td>
                <td th:with="formattedTotal=${orderd.quantity} * ${orderd.price}"
                    th:text="'$' + ${#numbers.formatDecimal(formattedTotal, 0, 'COMMA', 2, 'POINT')}"
                ></td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="/fragments/footer"></div>
</body>
</html>
